.git
.gitignore
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
instance/
*.db
*.sqlite3
.env
.env.*
!.env.example
static/uploads/*
static/img/covers/
.pytest_cache/
coverage.xml
htmlcov/
tests/
venv/
.idea/
.vscode/
Thumbs.db
.DS_Store
docker-compose.yml
README.md